body {
    background-image: url("images/grey.jpg");
    height: 400px;                     /* height adjust karo */
  background-size: cover;            /* full screen fit */
  background-position: center;       /* center ma image */
  background-repeat: no-repeat;

    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: transparent;
    color: white;
    padding: 15px;
}
header h1{
    color:white;
    font-size: 4rem;
    margin-top: 7rem;
    margin-left: 17rem;
}
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.banner {
    color: whitesmoke;
    margin-top: 3rem;
    padding: 40px;
    text-align: center;
    background: transparent;
}
.shop-catagory{
    background-color:white;
    height:700px;
    width: 1400px;
    color: black;
}
 .shop{
    margin-left: 33rem;
    color: #8cbcb5;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar li{
    list-style: none;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border-radius: 20px;
    background-color:#8cbcb5 ;
    height: 40px;
    width: 1000px;
}
.nav-bar img{
    height:6rem;
    width: auto;
    border-radius: 50%;
    
}
.offer-part{
    background-color: white;
    color: black;  
   height: 1500px;
   width: 1500px;
}
.offer-part h2{
    margin-left: 600px;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.offer1{
    display:inline-block;
    justify-content: space-between;
    align-items:center;
    gap:30px;
    
    
}
.offer1 img{
    height: 300px;
    width: 300px;
    margin: 3rem;
    
    
}
.offer1 p{
    text-align: center;
    font-size:25px;
    padding:0;
    margin-right: 2rem;
}
.offer4 img{
    
    height:450px ;
    width:600px;
    margin-left: 350px;
    margin-top: 2rem;
}
.offer4{
    background-color: #8cbcb5;
    height: 700px;
}
.offer4 p{
    margin-top: 2rem;
    margin-left: 600px;
    
}
.event{
    background-color:#f5f5f5;
    color: #239783;
    height: 1700px;
    width:2000px;
}
.event h2{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:35rem;
    margin-top: 3rem;
    font-size: 25px;
    

}
.event-bar{
    display: flex;
    margin-left: 30rem;
}
.event-bar li{
    list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
    
}
.event-bar img{
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 300px;
    width: 400px;
}
.contact{
    height: 500px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    
}
.contact button{
    background-color: skyblue;
}
.contact-bar h1{
    padding-top: 10rem;
    margin-bottom: 0;
    margin-top: 5rem;
    margin-left: 32rem;
    color:white;
}





footer {
    background:transparent;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}
